{% extends "base.html" %}
{% load static %}

{% block title %}
    {% with current_url=request.resolver_match.url_name %}
        {% if 'shopping' in current_url %}
            Список покупок
        {% elif 'subscription' in current_url %}
            Мои подписки
        {% elif 'favorite_recipe' in current_url %}
            Избранное
        {% endif %}
    {% endwith %}
{% endblock %}

{% block static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="custom-center-block">

            {% with current_url=request.resolver_match.url_name %}
                {% if 'shopping' in current_url %}
                    <h1 class="main__title">Список покупок</h1>
                    <p class="custom-text-block">Список покупок пуст</p>
                {% elif 'subscription' in current_url %}
                    <h1 class="main__title">Мои подписки</h1>
                    <p class="custom-text-block">Вы ни на кого не подписаны</p>
                {% elif 'favorite_recipe' in current_url %}
                    <h1 class="main__title">Избранное</h1>
                    <p class="custom-text-block">У вас нет избранных рецептов</p>
                {% endif %}
            {% endwith %}

            <div class="custom-button-block">
                <a href="{% url  'index' %}">
                    <button class="button button_style_blue">Перейти на главную</button>
                </a>
            </div>

        </div>
    </main>
{% endblock %}
