{% load custom_filters %}
<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            {% with current_url=request.resolver_match.url_name %}
                {% if user.is_authenticated %}
                    <ul class="nav__items list">
                        <li class="nav__item {% if 'index' in current_url %}nav__item_active{% endif %}"><a
                                href="{% url 'index' %}" class="nav__link link">Рецепты</a></li>
                        <li class="nav__item {% if 'subscription' in current_url %}nav__item_active{% endif %}"><a
                                href="{% url 'subscription' %}" class="nav__link link">Мои подписки</a></li>
                        <li class="nav__item {% if 'new_recipe' in current_url %}nav__item_active{% endif %}"><a
                                href="{% url 'new_recipe' %}" class="nav__link link">Создать рецепт</a></li>
                        <li class="nav__item {% if 'favorite_recipe' in current_url %}nav__item_active{% endif %}"><a
                                href="{% url 'favorite_recipe' %}" class="nav__link link">Избранное</a></li>
                        <li class="nav__item {% if 'shopping' in current_url %}nav__item_active{% endif %}"><a
                                href="{% url 'shopping_list' %}" class="nav__link link">Список покупок</a> <span
                                class="badge badge_style_blue nav__badge"
                                id="counter">{{ request|shopping_count }}</span></li>
                    </ul>
                    <ul class="nav__items list">
                        <li class="nav__item"><a href="{% url 'profile' username=user.username %}"
                                                 class="nav__link link">{{ user.username }}</a></li>
                        <li class="nav__item"><a href="#" class="nav__link link">Изменить пароль</a></li>
                        <li class="nav__item"><a href="{% url 'logout' %}" class="nav__link link">Выход</a></li>
                    </ul>
                {% else %}
                    <ul class="nav__items list">
                        <li class="nav__item {% if 'index' in current_url %}nav__item_active{% endif %}"><a
                                href="{% url 'index' %}" class="nav__link link">Рецепты</a>
                        </li>
                        <li class="nav__item {% if 'shopping' in current_url %}nav__item_active{% endif %}"><a
                                href="{% url 'shopping_list' %}" class="nav__link link">Список покупок <span
                                class="badge badge_style_blue nav__badge"
                                id="counter">{{ request|shopping_count }}</span></a>
                        </li>
                    </ul>
                    <ul class="nav__items list">
                        <li class="nav__item"><a href="{% url 'login' %}" class="nav__link link">Войти</a></li>
                        <li class="nav__item"><a href="{% url 'signup' %}" class="button button_style_blue">Создать
                            аккаунт</a>
                        </li>
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </nav>
</header>